.borderRadius {
	border-radius: var(--mantine-radius-md);
	overflow: hidden;
	border: 1px solid transparent;
	border-color: light-dark(
		var(--mantine-color-gray-2),
		var(--mantine-color-dark-4)
	);
}

.noBorder {
	border: 0px !important;
	border: none !important;
}
